/* Mobile-first approach */

/* Styling throughout */

* {
  box-sizing: border-box;
}

@property --main-text {
  syntax: "<color>";
  inherits: true;
  initial-value: #022126;
}

@property --secondary-text {
  syntax: "<color>";
  inherits: true;
  initial-value: #0e2431;
}

@property --yellow {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffbb33;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--main-text);
}

h3,
h4 {
  color: #013642;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: #b07b11;
}

/* Grid container*/

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto auto auto 75px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "main"
    "footer";
}

/* Header */

header {
  background-color: #479fd2af;
  grid-area: header;
}

.header-logo img {
  width: auto;
  height: 3rem;
}

/* Navigation */

nav {
  background-color: #47a0d2;
  padding: 0.25rem;
  grid-area: nav;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0px 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--secondary-text);
  font-size: 1.25rem;
}

/* Main */

main {
  background-color: #c2d8e4;
  grid-area: main;
}

/* Page Hero */

.page-hero {
  background-image: url(imgs/page-hero.jpg);
  background-size: 55rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.page-hero-text {
  position: relative;
  top: 7rem;
  padding: 0.5rem 0rem;
  background-color: #ffbb3396;
  color: var(--secondary-text);
}

.page-hero-text h1 {
  font-family: Rancho, cursive;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 0;
  padding: 0 1.5rem;
}

.page-hero-text p {
  margin: 0.75rem 0 0 0;
}

/* Info */

.info {
  margin: 1rem 2rem;
}

/* Gallery */

#gallery {
  margin-bottom: 2rem;
}

.gallery-container img {
  max-width: 90vw;
  min-height: 100%;
}

.gallery-container figcaption {
  margin: 0 1rem 2.5rem;
}

.gallery-container h4 {
  margin: 0.5rem 0rem 0.75rem;
}

.gallery-container p {
  margin-top: 0;
}

/* About us*/

#about-us {
  padding: 2rem;
  background-color: #47a0d2;
}

#about-us h3 {
  text-shadow: 3px 3px #fbda0373;
}

.about-cards {
  margin-top: 2rem;
}

.about-card {
  margin: 1rem;
  background-color: var(--yellow);
  padding: 1rem 0.5rem;
  border-radius: 20px;
}

.about-card img {
  height: 12rem;
  width: 10rem;
  object-fit: cover;
}

.about-card p {
  font-size: 0.865rem;
}

.about-card span {
  display: none;
}

/* Footer */

footer {
  background-color: #0e2431;
  padding: 1rem;
  grid-area: footer;
}

footer p {
  color: var(--yellow);
  text-align: left;
  font-size: 0.75rem;
}

/* Media query for larger screens */

@media screen and (min-width: 480px) {
  /* Grid container*/

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header nav"
      "main main"
      "main main"
      "main main"
      "footer footer";
  }

  /* Header */

  header {
    background-color: #47a0d2;
  }

  header figure {
    text-align: left;
  }

  /* Navigation */

  nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  nav a {
    font-size: 1rem;
    transition: all 150ms ease-in-out;
  }

  nav a:hover {
    color: #ffbb33ac;
  }

  /* Main */

  /* Page Hero */

  .page-hero {
    background-size: 100rem;
    background-position: 50% 35%;
    height: 32rem;
  }

  .page-hero-text {
    top: 25%;
    background-color: transparent;
    color: #ffbb33;
  }

  .page-hero-text h1 {
    font-size: 4rem;
  }

  .page-hero-text p {
    font-size: 1.5rem;
    color: #f8d9a0;
  }

  /* Info */

  .info {
    margin: 4rem 6rem;
  }

  .info p {
    font-size: 1.125rem;
  }

  /* Gallery */

  .gallery-container {
    display: grid;
    width: 60vw;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
  }

  .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-container figure {
    margin: 0;
  }

  .gallery-container figcaption {
    display: none;
  }

  /* About us*/

  .about-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }

  .about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 1rem;
    max-width: 30rem;
  }

  .about-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about-card span {
    display: inline;
  }
}
